* {
  border-radius: 0px;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 4px;
  margin-bottom: 0;
}

window#waybar {
  background-color: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0;
  background-color: transparent;
}

#workspaces button:hover {
  background: @base00;
}

#workspaces button.focused,
#workspaces button.active {
  background-color: @base01;
}

#workspaces button.urgent {
  background-color: @base08;
}

#clock,
#battery,
#pulseaudio,
#memory,
#cpu,
#network {
  padding: 0 4px;
  color: @base07;
  background-color: @base01;
}

#window,
#workspaces {
  margin: 0;
}
