* {
  font-family:
    Iosevka Term SS08,
    monospace;
  font-size: 12px;
  border-radius: 0px;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 4px;
  margin-bottom: 0;
}

window#waybar {
  background-color: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0;
  background-color: transparent;
}

#workspaces button:hover {
  background: #000000;
}

#workspaces button.focused,
#workspaces button.active {
  background-color: #111111;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#clock,
#battery,
#pulseaudio,
#memory,
#cpu,
#network {
  padding: 0 4px;
  color: #ffffff;
  background-color: #111111;
}

#window,
#workspaces {
  margin: 0;
}
